:root {
  --light-green: #acff7e;
  --green: #19df73;
  --dark-green: #008266;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
ul,
label,
.submit-btn {
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

.heading-main {
  font-size: 48px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 32px;
  text-transform: uppercase;
}

.card-heading {
  font-size: 24px;
}

p,
input {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.text-main {
  font-size: 20px;
}

.card-text {
  font-size: 18px;
}

.header-logo {
  width: 250px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 32px;
  border-bottom: 2px solid black;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

/* Banner */

.banner {
  padding: 5%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.banner-box {
  max-width: 650px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.banner-img {
  width: 450px;
}

/* Card Section */

.card-section {
  padding: 5%;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: left;
  height: auto;
  max-width: 450px;
  min-width: none;
  padding: 24px;
  gap: 4px;
  border: 2px solid black;
  border-radius: 32px;
  transition: 350ms;
}

.card:hover {
  transform: translateY(-12px);
}

.card-icon {
  width: 100px;
  padding-bottom: 24px;
}

/* About Section */
.about-img {
  width: 520px;
}

/* Contact Section */
.contact-section {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.form-container {
  padding: 64px;
  width: 600px;
  background-color: rgb(234, 234, 234);
  border: 2px solid black;
  border-radius: 32px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
}

input,
textarea {
  margin-bottom: 24px;
  padding: 16px 8px;
  font-size: 18px;
  border: 2px solid black;
}

.submit-btn {
  width: 300px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 32px;
  margin-top: 16px;
  background-color: var(--green);
  box-shadow: -4px 4px black;
  transform: translate(4px, -4px);
  transition: 350ms;
}

.submit-btn:hover {
  transform: translate(0);
  box-shadow: none;
}

#contact-box {
  width: 400px;
}

@media only screen and (max-width: 768px) {
  .heading-main {
    font-size: 24px;
  }

  .text-main {
    font-size: 18px;
  }

  /* Header */
  header {
    padding: 8px;
  }
  .header-logo {
    width: 150px;
  }

  ul {
    font-size: 16px;
    gap: 8px;
  }

  /* Banner */
  .banner {
    flex-direction: column;
    gap: 24px;
  }
  .banner-box {
    min-width: 0;
    gap: 8px;
  }
  .banner-img {
    width: 90%;
  }

  /* Card Sectoin */

  .heading-2 {
    font-size: 21px;
  }
  .card-section {
    gap: 12px;
  }
  .card-container {
    flex-direction: column;
    gap: 12px;
  }
  .card-heading {
    font-size: 18px;
  }
  .card-text {
    font-size: 16px;
  }
  .card-icon {
    width: 100px;
  }

  /* About Section */
  .about-img {
    width: 90%;
  }

  /* Form Section */
  .contact-section {
    flex-direction: column;
    gap: 24px;
  }

  .form-container {
    width: 100%;
    padding: 24px;
  }

  #contact-box {
    width: 100%;
  }
  label {
    font-size: 14px;
  }
  input {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 16px;
  }

  .submit-btn {
    height: auto;
    height: 35px;
    margin-top: 0;
    font-size: 14px;
  }
}
